<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sticky Bot</title>
  </head>
  <body>
    <h1>Lista de sticker disponible</h1>
    <stickers> </stickers>

    <script src="static/components/list_stickers.tag" type="riot/tag"></script>
    <script src="https://cdn.jsdelivr.net/g/riot@2.2(riot.min.js+compiler.min.js)"></script>

    <script>
        items = [];
        {% for sticker in stickers %}
          items.push({ id: '{{ sticker.file_id }}', path: '{{ sticker.file_path}}' } );
        {% endfor %}
        riot.mount('stickers', {
          items: items
        });
        </script>
  </body>
</html>
